/*================================================*/
/*main body */
body, html {
    overflow: hidden;
    height: 100%;
    background: white;
}

/*==============================================*/
/*position the canvas to the top left corner*/
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

/*==============================================*/
/*three container*/
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%
}

#threecontainer {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    /*opacity: 1;*/
    z-index: 0
}

/*==============================================*/
/*video source for videoplane*/
audio, video {
    display: inline-block
}





